<!DOCTYPE html>
<html>
<head>
  <title>Admin Page</title>
  <style>
    body {
      background-color: #f7dada;
      font-family: Arial, sans-serif;
      text-align: center;
      padding-top: 100px;
    }
    h1 {
      color: #ff4081;
      font-size: 30px;
    }
    p {
      color: #424242;
      font-size: 20px;
    }
    .btn {
      display: inline-block;
      background-color: #ff4081;
      color: #ffffff;
      padding: 10px 20px;
      font-size: 18px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    .btn:hover {
      background-color: #f50057;
    }
  </style>
</head>
<body>
  <h1>Welcome to the Admin Page!</h1>
  <p>Click the button below to reveal the SCTF23 Secret.</p>
  <button class="btn" onclick="revealFlag()">Reveal Secret</button>
  <script>
    function revealFlag() {
      var flag = String.fromCharCode(70,108,97,103,32,105,115,32,83,67,84,70,50,51,123,74,87,84,95,105,115,95,70,117,110,125);
      alert('' + flag);
    }
  </script>
</body>
</html>
